/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* App container styles */
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

/* Navbar styles */
.navbar {
  width: 100%;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

/* Categories styles */
.categories {
  width: 25%;
  background-color: #f2f2f2;
  padding: 2rem;
  margin-bottom: 2rem;
}

/* Home page styles */
.home {
  width: 75%;
  padding: 2rem;
}

/* Book details styles */
.book-details {
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
}

/* AddBooks Component CSS */

.add-book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-input,
.author-input {
  margin: 10px;
  padding: 12px 20px;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.category-input {
  margin: 10px;
  padding: 12px 20px;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 1em 0;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.button-submit {
  margin: 10px;
  padding: 12px 20px;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #45a049;
}

/* Form error styling */
.title-input:invalid,
.author-input:invalid {
  border: 2px solid red;
}

.category-input:invalid {
  border: 2px solid red;
}

.title-input:valid,
.author-input:valid {
  border: 2px solid green;
}

.category-input:valid {
  border: 2px solid green;
}

.book {
  list-style: none;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.book-content {
  display: flex;
}

.book-info {
  flex: 1;
  margin-right: 20px;
}

.book-info h4 {
  color: #777;
  margin-bottom: 10px;
}

.book-info h2 {
  margin-bottom: 5px;
}

.book-info h6 {
  color: #999;
  margin-bottom: 20px;
}

.chapter-container button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.categories-section button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #2196f3;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.action-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.action-buttons .vertical-divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 10px;
}

.action-buttons button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-buttons button:hover {
  background-color: #999;
}

.book-progress {
  flex: 1;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  position: relative;
}

.progress-bar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 74%;
  height: 100%;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.progress-info .percent-complete {
  color: #777;
}

.progress-info .completed {
  color: #999;
}

.progress-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.chapter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapter-container p {
  color: #777;
  margin-bottom: 5px;
}

.chapter-container h4 {
  margin-bottom: 10px;
}

.chapter-container button:hover {
  background-color: #999;
}

.card-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card-top {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-bottom {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
}

.card-info {
  width: 100%;
  text-align: center;
}

.card-info h4 {
  margin: 0;
  padding: 0;
}

.card-info p,
.card-info span {
  margin: 5px 0;
  padding: 0;
}

.publisher {
  font-weight: bold;
}

.publish-date {
  font-style: italic;
}

.card-item:hover {
  box-shadow: 0 0 10px #ccc;
  transform: scale(1.05);
}

.card-item:active {
  transform: scale(0.95);
}

.categories-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.categories-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.categories-section p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.categories-section button:hover {
  background-color: #1976d2;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo h3 {
  color: #fff;
  font-size: 2em;
  margin: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  margin: 10px 0;
}

.copyright {
  font-size: 0.8em;
}

.modal-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-inner {
  background: white;
  width: 80%;
  height: 80%;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.inner-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.inner-box img {
  width: 30%;
  height: auto;
  margin-right: 1em;
}

.info {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info h2,
.info h3,
.info h5 {
  margin: 0;
}

.info span {
  font-style: italic;
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  margin-right: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
  visibility: hidden;
}

.nav-links.show-nav {
  transform: translateY(0%);
  visibility: visible;
}

.nav-links.hide-nav {
  transform: translateY(-100%);
  visibility: hidden;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  background-color: #f5f5f5;
}

.nav-links a.active-nav {
  background-color: #f5f5f5;
  font-weight: 600;
}

.user-avatar {
  margin-left: 1rem;
}

.user-avatar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.nav-toggle-btn {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #333;
  font-size: 1.5rem;
}

.search-container {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px 0;
}

.search-form-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form-elem {
  width: 100%;
  max-width: 800px;
  position: relative;
}

.form-control {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 3px #ccc;
  font-size: 18px;
  font-weight: 400;
  color: #777;
}

.form-control::placeholder {
  color: #ccc;
}

.form-submit-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  color: #777;
}

/* Pages */

/* Contacts Section */
.contacts {
  padding: 70px 0;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-options {
  width: 30%;
  margin-right: 3%;
}

.contact-option {
  padding: 20px;
  text-align: left;
}

.contact-option-icon {
  color: #ffa500;
  font-size: 3rem;
  margin-bottom: 20px;
}

form {
  width: 70%;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  resize: none;
}

form button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}

/* Media Queries */
@media (max-width: 992px) {
  .contact-options {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  form {
    width: 100%;
  }
}


/* Home Component */
.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.books-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.horizontal-divide {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin: 30px 0;
}

/* Error message */
.no-book-error {
  text-align: center;
}

.no-book-error h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: #6c757d;
}


/* Store.css */

.store-container {
  background-color: #f9f9f9;
  padding: 40px;
}

.store-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.store-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 40px;
  padding: 1em;
  width: 100%;
}

.books-store-section {
  background-color: #f9f9f9;
  padding: 40px;
}

.all-books-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  width: 300px;
  height: 400px;
  margin: 20px;
}

.book-card img {
  width: 100%;
  height: 60%;
}

.book-card h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.book-card p {
  font-size: 1em;
  margin-top: 5px;
}

.book-card .btn {
  width: 100%;
  background-color: #28a745;
  color: #fff;
  font-size: 1em;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.book-card .btn:hover {
  background-color: #218838;
}

.search-bar {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.search-bar:focus {
  border: 2px solid #28a745;
}

.search-btn {
  width: 100%;
  background-color: #28a745;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #218838;
}

.no-results {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5em;
}

.no-results h3 {
  margin-bottom: 20px;
}

.no-results p {
  font-size: 1.2em;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 2em;
  }

  .description {
    font-size: 1em;
  }
}
